<body>
      <section class="bd-home-intro">
  <div class="bd-home-circles">
    <div class="bd-circles">
      <div class="bd-circle js-animated is-one"></div>
      <div class="bd-circle js-animated is-two"></div>
      <div class="bd-circle js-animated is-three"></div>

      <div data-id="cssvars" class="bd-dot js-ready js-dot">
        <div class="bd-dot-bounce is-1">
          <div class="thing is-cssvars">CSS Variables</div>
        </div>
      </div>

      <div data-id="dark" class="bd-dot js-ready js-dot">
        <div class="bd-dot-bounce is-2">
          <button class="js-darkmode bd-darkmode thing">
  <span class="icon is-small bd-hidden-dark">
    <i class="fas fa-moon color-moon" aria-hidden="true"></i>
  </span>

  <span class="bd-hidden-dark">Dark Mode</span>

  <span class="icon is-small bd-hidden-light">
    <i class="fas fa-sun color-sun" aria-hidden="true"></i>
  </span>

  <span class="bd-hidden-light">Light Mode</span>
</button>

        </div>
      </div>

      <div data-id="dartsass" class="bd-dot js-ready js-dot">
        <div class="bd-dot-bounce is-3">
          <div class="thing is-dartsass">Dart Sass</div>
        </div>
      </div>

      <div data-id="flexbox" class="bd-dot js-ready js-dot">
        <div class="bd-dot-bounce is-4">
          <div class="thing is-flexbox">Flexbox</div>
        </div>
      </div>

      <div data-id="modular" class="bd-dot js-ready js-dot">
        <div class="bd-dot-bounce is-5">
          <div class="thing is-modular">Modular</div>
        </div>
      </div>

      <div data-id="opensource" class="bd-dot js-ready js-dot">
        <div class="bd-dot-bounce is-6">
          <div class="thing is-opensource">Open Source</div>
        </div>
      </div>

      <div data-id="responsive" class="bd-dot js-ready js-dot">
        <div class="bd-dot-bounce is-7">
          <div class="thing is-responsive">Responsive</div>
        </div>
      </div>

      <div data-id="free" class="bd-dot js-ready js-dot">
        <div class="bd-dot-bounce is-8">
          <div class="thing is-free">Free</div>
        </div>
      </div>

      <div data-id="smartgrid" class="bd-dot js-ready js-dot">
        <div class="bd-dot-bounce is-9">
          <div class="thing is-smartgrid">Smart Grid</div>
        </div>
      </div>

      <div data-id="autocolor" class="bd-dot js-ready js-dot">
        <div class="bd-dot-bounce is-10">
          <div class="thing is-autocolor">Auto Color</div>
        </div>
      </div>

      <div data-id="skeletons" class="bd-dot js-ready js-dot">
        <div class="bd-dot-bounce is-11">
          <div class="thing is-skeletons">Skeletons</div>
        </div>
      </div>

      <div data-id="themes" class="bd-dot js-ready js-dot">
        <div class="bd-dot-bounce is-12">
          <div class="thing is-themes">Themes</div>
        </div>
      </div>

      <div data-id="axbom" class="bd-dot js-ready js-dot">


<div class="bd-bubble is-axbom js-bubble-axbom" style="--h: 339">
  <div class="bd-bubble-content">
    The most beautifully written framework I've ever had the pleasure of working with.
  </div>
