<section class="has-background-danger">
<h1 class="has-text-centered">Warning</h1>
<p class="has-text-centered">Can't verify CSRF token authenticity. Please try again.</p><div class="has-text-centered">
<%= link_to 'Back to Home', root_path %></div></section>
