<body><div class="section"><div class="contatiner"><div class="columns is-centered is-multiline"><div class="column is-one-third"></div><div class="column is-one-third"></div><div class="column is-one-third"></div></div></div></section>
