<body><div class="section has-background-success-95"><div class="container"><div class="columns is-multiline"><div class="column is-one-third"></div><div class="column is-one-third">
          <div class="has-text-centered font-rulesone">SIEMA</div>
          <p class="has-text-centered font-lobster">Lorem ipsum dolor sit amet</p>
        </div><div class="column is-one-third"></div></div></div></section>
